.back-to-top {
  background-color: rgb(32, 32, 32);
  color: #e4e4e4;
  position: fixed;
  bottom: 25px;
  right: 15px;
  display: none;
}

.back-to-top:hover {
  background-color: rgb(68, 68, 68);
  color: #e4e4e4;
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cap-text {
  color: #646464;
  font-size: 0.9rem;
}

.sub-text {
  color: black;
}

.resource-img-sm {
  max-height: 300px;
  margin-bottom: 15px;
}

.resource-img-md {
  max-height: 400px;
  margin-bottom: 20px;
}

.resource-img-lg {
  max-height: 500px;
  margin-bottom: 20px;
}

.det-heading {
  color: #bbba67bf;
}

.overview-img {
  width: 500px;
  height: 350px;
  object-fit: cover;
}

.explore-link {
  text-decoration: none;
  color: #a09e2abf;
}

.explore-link:hover {
  color: #bbba67bf;
}

.desc-text {
  color: #646464;
}

.out-link {
  text-decoration: none;
  color: #a5a5a5;
}

.nav-link {
    color: black;
  }

.nav-link:hover {
    cursor: pointer;
    color: #afaeae;
}

.custom-list {
  list-style-type: none;
}

#human-text{
  background: linear-gradient(to right, #e0e012, green, #1ec7c7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-underline {
    text-decoration: underline;
    text-decoration-color: #d8d64ebf;
    text-underline-offset: 10px;
}

#onproject1 {
    background-position: center;
    background-size: 750px 380px;
}

#onproject3 {
    background-position: bottom;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #964444; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
.social-link {
  color: white;
}

.social-link > i:hover {
  cursor: pointer;
  color: #8a8a8a!important;
}

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #964444; }
  }

  .line-1{
    color: black;
    top: 50%;  
    width: 24em;
    margin-top: 2em;
    border-right: 4px solid rgba(255,255,255,.75);
    font-size: 145%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44, end) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #c5c334bf;}
  to{border-right-color: transparent;}
}